<html>
<form action="dologin" method="post">
    <div class="container">
      <label for="femail"><b>Email</b></label>
      <input id="femail" type="email" placeholder="Enter email" name="femail" required>

      <label for="fpassword"><b>Password</b></label>
      <input id="fpassword" type="password" placeholder="Enter password" name="fpassword" required>
      <button type="submit">Login</button>

      {{.Error}}
      <div class="container">
        <div class="jumbotron text-center text-success">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <a href="../auth/googleExisting" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        </div>
      </div>

      <a href="../signUp"> SignUp! </a>
      
    </div>
  </form>

  
  </html>


