<html>
<form action="saveProfile" method="post">
    <div class="container">
      <label for="fname"><b>Fullname</b></label>
      <input type="text" placeholder="Enter fullname" name="fname" value="{{ .Fullname}}" required>
  
      <label for="ftelephone"><b>Telephone</b></label>
      <input type="text" placeholder="Enter telephone" name="ftelephone" value="{{ .Telephone}}" required>

      <label for="femail"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="femail" value="{{ .Email}}" required>
  
      <button type="submit">Save & Continue</button>
      <a href="/userHome"> Cancel </a>
      
    </div>
  </form>
  </html>