<html>
<form action="register" method="post">
    <div class="container">
      <label for="femail"><b>Email</b></label>
      <input type="email" placeholder="Enter email" name="femail" required>

      <label for="fpassword"><b>Password</b></label>
      <input type="password" placeholder="Enter password" name="fpassword" required>
      
      <button type="submit">Save</button>

      <div class="container">
        <div class="jumbotron text-center text-success">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <p>Register with:</p>
            <a href="../auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        </div>
      </div>
      {{ .Error}}
    </div>
    <a href="javascript:history.back()"> Existing user login </a>
  </form>
  </html>